/*
 * File creato da Luca Perico
 * Include le funzioni necessarie per l'utilizzo di annotator con Symfony
 * Support at: https://www.npmjs.com/package/annotator
 */

function deleteAllAnnotations(url){
    $.post("/annotations/deleteAll/");
    $.each($('.annotator-hl'), function () {
        $(this).replaceWith($(this).html());
    });
}

function deleteAllAnnotationsByUrl(url){
    $.post("{{ path('page_annotator_delete_all_by_url') }}",
        {
            url : url
        });
    $.each($('.annotator-hl'), function () {
        $(this).replaceWith($(this).html());
    });
}

function saveAnnotation (annotation, url){
    var ranges = annotation.ranges[0];

    $.post( "/annotations/save/",
        {
            start : ranges.start,
            startOffset : ranges.startOffset,
            end : ranges.end,
            endOffset : ranges.endOffset,
            quote : annotation.quote,
            url : url,
            text : annotation.text
        });
}

function saveAnnotationWithComment (annotation, url, comment){
    var ranges = annotation.ranges[0];
    annotation.text = comment;

    $.post( "/annotations/save/",
        {
            start : ranges.start,
            startOffset : ranges.startOffset,
            end : ranges.end,
            endOffset : ranges.endOffset,
            quote : annotation.quote,
            url : url,
            text : annotation.text
        });
}

function deleteAnnotation (annotation, url){
    var ranges = annotation.ranges[0];

    $.post( "/annotations/delete/",
        {
            start : ranges.start,
            startOffset : ranges.startOffset,
            end : ranges.end,
            endOffset : ranges.endOffset,
            url : url
        });
}

function setAnnotatorLanguage(lang){
    switch (lang){
        case 'it':
            $('.annotator-cancel').html("Annulla");
            $('.annotator-save').html("Salva");
            break;
        case 'fr':
            $('.annotator-cancel').html("Annule");
            $('.annotator-save').html("Sauver");
            break;
        case 'es':
            $('.annotator-cancel').html("Cancela");
            $('.annotator-save').html("Guardar");
            break;
        case 'de':
            $('.annotator-cancel').html("Annulliert");
            $('.annotator-save').html("Sparen");
            break;
    }
}

function annotateWithFixedValues(values){
    $('#annotator-field-0').parent().empty();
    $('#annotator-field-1').parent().css({'padding':'5px'});
    var text = "<span style='color:black; font-size: 20px;'>Questo è: </span><select id='comment-selection' style='color:black; font-size: 15px;' onchange='writeComment(this)'><option value='null' selected='selected'>- seleziona -</option>";

    values.forEach(function(entry) {
        text = text + "<option value='" + entry.toLowerCase() + "'>" + entry + "</option>";
    });

    $('#annotator-field-1').parent().html(text);
}

var annotationCommentValue = null;

function writeComment(selector){
    annotationCommentValue = selector.options[selector.selectedIndex].value;
}

function resetAnnotatorFixedValueSelector(){
    $("#comment-selection option").each(function(){
        if ($(this).attr('value') == "null") {
            $(this).attr("selected", true);
        } else {
            $(this).removeAttr("selected");
        }
    });
}